<br><h3>Send message</h3><br>
<button class="btn btn-success" (click)="returnToMessageList()">Return</button>
<br><br>

<div class=" border border-dark p-4">
	<label>Select player by:</label>
	<select class="form-control" [(ngModel)]="option">
		<option>
			Boss name
		</option>
		<option>
			Player nick
		</option>
	</select>
	<br>
	<form class="form-signin container-fluid col-12 align-middle justify-content-center mt-2" #sendForm="ngForm" (ngSubmit)="sendMessage(sendForm)">
		<div class="">
			<div class="form-group mt-12">
				<label>To</label>
				<input class="form-control" id="name" name="name" placeholder="{{option}} required" ngModel class="form-control">
			</div>

			<div class="form-group mt-12">
				<label for="content">Content</label>
				<textarea class="form-control" id="content" placeholder="Content required" name="content" ngModel class="form-control" rows="8"></textarea>
			</div>

			<div class="text-center mt-3">
				<button class="btn btn btn-outline-dark rounded-5 p-1 col-1" type="submit">Send</button>
				<br>
			</div>
		</div>
	</form>
</div>