<br><h3>Send message</h3><br>
<button class="btn btn-success" (click)="return()">Return</button>
<br><br>

<form class="form-signin container-fluid col-12 border border-dark align-middle justify-content-center mt-2" #sendForm="ngForm" (ngSubmit)="sendMessage(sendForm)">
	<div class="p-4">
		<div class="form-group mt-12">
			<label>To</label>
			<input class="form-control" id="name" name="name" placeholder="Boss name required" ngModel class="form-control">
		</div>

		<div class="form-group mt-12">
			<label for="content">Content</label>
			<textarea class="form-control" id="content" placeholder="Content required" name="content" ngModel class="form-control" rows="8"></textarea>
		</div>

		<div class="text-center mt-3">
			<button class="btn btn btn-outline-dark rounded-5 p-1 col-1" type="submit">Send</button>
			<br>
		</div>
	</div>
</form>