<br><h3>Agents on mission</h3><br>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">Mission name</th>
      <th scope="col">Agent Name</th>
      <th scope="col">Success chance</th>
      <th scope="col">Time left</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let agent of PerformingMissions">
      <td>{{agent.MissionName}}</td>
      <td>{{agent.AgentName}}</td>
      <td>{{agent.SuccessChance}}</td>
      <td>{{agent.leftTime}}s</td>
      <td>
      </td>
    </tr>
  </tbody>
</table>
