<br><h3>Messages</h3><br>
<button class="btn btn-success" (click)="showSendMessageWindow()">Prepare message</button>
<br><br>
<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">Content</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let message of MessageList">
      <td>{{message.FromBoss}}</td>
      <td>{{message.Content}}</td>
      <td><button class="btn btn-success" (click)="deleteMessage(message.MessageId)">Delete</button></td>
    </tr>
  </tbody>
</table>
<div *ngIf="MessageList.length==0" class="d-flex justify-content-center"><br><h4>No message</h4><br></div>
