<br><h3>Perform mission</h3><br>

<button class="btn btn-primary" (click)="backToShowMission()">Return</button>
<br>
<label class="col-sm-2 col-form-label">Choose mission</label>
<div class="col-sm-10">
   <select class="form-control" [(ngModel)]="ChosenMission" (change)="checkIfProgramShouldShowInformationAboutPerform()">
       <option *ngFor="let mission of MissionStringList">
           {{mission}}
       </option>
   </select>
</div>
<br><br>
<label class="col-sm-2 col-form-label">Choose agent</label>
<div class="col-sm-10">
   <select class="form-control" [(ngModel)]="ChosenAgent" (change)="checkIfProgramShouldShowInformationAboutPerform()">
        <option>--Select--</option>
        <option *ngFor="let agent of AgentStringList">
            {{agent}}
        </option>
   </select>
</div>

<div *ngIf="ShowInformationAboutMission">
  <br>
  Chance of success: {{ChanceOfSuccess}}
  <br><br>
  <button class="btn btn-success" (click)="addPerformingMission()">Perform</button>
</div>
