<h1>This is home page</h1>
And it's task is to convince you to play this amazing game. Dude, why you still are not logged in. 
Don't tell me you're still wondering if it's worth it. I tell you - it's definitely worth it. 
I know you may be wondering whether or not you have to pay someone for this miracle.
The answer is no. This game is 99% free (1% is your time - I've heard time is money)
Have you made up your mind already?
If not, I can tell you interesting story.
I'm a C# Programmer. Yeah, I still can't believe I got the job. And I had one problem.
I had the feeling that my boss had given me an incredibly difficult task. 
And I was supposed to do them in an hour. But I didn't know what to do. 
So I did them for 12 hours. Although it was supposed to be ready for the weekend, I just finished it over the weekend. 
I was so sick of it that I sent a ready-made solution without checking if it worked. It worked ... the third time. 
The boss was furious, but he must have forgotten by now. I was furious because I wanted my boss to leave me alone, but without losing my job. 
And I also wanted to go to the cinema with my friend. Well, I did it. The boss gave me a break. And the movie was great. "Soul" - I recommend. 
<br>
You're still there? C'mon dude, just play