<div class="container-fluid col-3 border border-dark align-middle justify-content-center mt-2">
	<form action="" method="GET" class="p-4">
		<div class="form-group">
			<label for="exampleInputEmail1">Nick</label>
			<input name="email" type="email" class="form-control">
		</div>

		<div class="form-group mt-4">
			<label for="exampleInputPassword1">Hasło</label>
			<input name="password" type="password" id="firstPassword" class="form-control">
		</div>

        <div class="form-group mt-4">
			<label for="exampleInputPassword1">Potwórz hasło</label>
			<input type="password" class="form-control" id="SecondPassword">
		</div>

		<div class="text-center mt-3">
			<button type="submit" class="btn btn btn-outline-dark rounded-5 col-10">Zarejestruj się</button>
		</div>
	</form>
</div>